@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Aroma_Beauty";
  src: url("/fonts/Arore.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-aroma {
  font-family: "Aroma_Beauty";
}

@font-face {
  font-family: "gellary";
  src: url("/fonts/Gellary.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-gellary {
  font-family: "gellary";
}

@font-face {
  font-family: "gustato";
  src: url("/fonts/GustatoryDelightRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-gustato {
  font-family: "gustato";
}

@font-face {
  font-family: "sergie";
  src: url("/fonts/Sergie-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-sergie {
  font-family: "sergie";
}

@font-face {
  font-family: "spectral";
  src: url("/fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-spectral {
  font-family: "spectral";
}

@font-face {
  font-family: "spectralbold";
  src: url("/fonts/Spectral-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-spectral-bold {
  font-family: "spectralbold";
}
